.App {
  text-align: center;
  
}

body{
  
  background-image: url('https://images.unsplash.com/photo-1608501078713-8e445a709b39?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbHBhcGVyJTIwNGt8ZW58MHx8MHx8fDA%3D');
  background-size: cover;
  background-repeat: no-repeat;
}

.list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;

}

.card{
  background-color: rgba(202, 166, 179, 0.785) !important;
  border-radius: 5px;
  margin: 30px;
  padding: 10px;
}
